.fa-shopping-cart{
   color: aliceblue;
       font-size: 15px;
   margin-right: 1.5rem
}
.fa-biking {
    color: aliceblue;
       font-size: 15px;
   margin-right: 1.5rem
}

.fa-search{
    color: #38c172
}
.fl{
    color: aliceblue;
    margin-left: 3rem
}
